<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  To contact the current developer of this version of the Ruby on Rails Tutorial
  sample app, send an email to <a href="mailto:joe@clanryan.us">Joe Ryan.</a>
</p>
