<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>  
  To contact the current developer of this version of the Ruby on Rails Tutorial
  sample app, send an email to <a href="mailto:joe@clanryan.us">Joe Ryan.</a>
</p>
